header
  {
    background-image: url("header_background1.jpg");
  }
body
  {
    background: url(https://github.com/MAMichaud/repository/blob/master/img/background1|alt=background) no-repeat center center;
    background-size: cover; 
  }
